body {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-fluid {
  padding: 0px;
}

.navbar-brand {
  background-color: #42bebe;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: black;
}

.card-header {
  color: #42bebe;
  font-size: 60px;
  background-color: #ffffff;
}

#bodyCard {
  margin-top: 100px;
  margin-left: 80px;
}

#cardText {
  margin-top: 10px;
  margin-right: 0px;
}

#AboutMePicture {
  margin-top: 15px;
  margin-left: 15px;
}

.footer-nav {
  border-top: 10px solid #42bebe;
}

.disabled {
  font-size: 20px;
}

.row {
  margin: 0px;
}

.col-lg-12 {
  padding: 0px;
}
